body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
header{
    box-sizing: border-box;
    background-color:rgba(0, 42, 255, 0.186);
    margin: 0;
    padding: 0;
    width: 95%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.conteiner{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 85%;
    height: 55%;
    border-radius: 10px;
}
.conteiner-titulos{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteiner-titulos h4{
    color: blue;
    font-weight: bold;
    font-size: 0.3em;
    margin: 10px 0px;
}
.conteiner-titulos h1{
    margin: 0;
    font-size: 1em;
}
.conteiner-titulos p{
    font-size: 0.5em;
    text-align: center;
    width: 80%;
}